@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263 67% 95%;
    --foreground: 262 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 262 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 262 30% 20%;
    --primary: 262 52% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 262 40% 90%;
    --secondary-foreground: 262 30% 20%;
    --muted: 262 40% 92%;
    --muted-foreground: 262 20% 45%;
    --accent: 231 48% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 20% 85%;
    --input: 0 0% 100%;
    --ring: 262 52% 47%;
    --chart-1: 262 52% 47%;
    --chart-2: 231 48% 48%;
    --chart-3: 262 52% 67%;
    --chart-4: 231 48% 68%;
    --chart-5: 262 52% 87%;
    --radius: 0.5rem;
    --sidebar-background: 262 30% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262 52% 47%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 262 40% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 262 30% 20%;
    --sidebar-ring: 262 52% 47%;
  }
 
  .dark {
    --background: 262 30% 10%;
    --foreground: 0 0% 98%;
    --card: 262 30% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 262 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 262 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 262 30% 20%;
    --muted-foreground: 262 10% 60%;
    --accent: 231 48% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 30% 20%;
    --input: 262 30% 20%;
    --ring: 262 52% 57%;
    --sidebar-background: 262 30% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 262 52% 57%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 262 30% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 262 30% 25%;
    --sidebar-ring: 262 52% 57%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
